@if (users.length==0) {

}@else{
   <!-- mi-componente.component.html -->

<div class="container mx-auto mt-8 text-center">
    <button class="bg-slate-900 hover:bg-slate-700 transition-colors text-white font-bold py-4 px-8 rounded-full mx-auto mb-4"
        (click)="actualizarTabla()">Actualizar</button>


    <h1 class="text-4xl font-bold mb-8 text-center ">Ranking Reciclaje</h1>

    <table class="min-w-full bg-white border border-gray-300">
        <thead>
            <tr class="bg-slate-900 text-white">
                <th class="border-b px-4 py-2">Posición</th>
                <th class="border-b px-4 py-2">Nombre</th>
                <th class="border-b px-4 py-2">Score</th>
            </tr>
        </thead>
        <tbody>

            @for (user of users; track $index) {
            <tr class="text-center {{$index%2==0?'bg-slate-200':''}}">
                <td class="border-b px-4 py-2">{{ $index+1 }}</td>
                <td class="border-b px-4 py-2">{{ user.name }}</td>
                <td class="border-b px-4 py-2">{{ user.score }}</td>
            </tr>
            }
        </tbody>
    </table>
</div> 
}