<!-- app.component.html -->

<div class="flex flex-col md:flex-row justify-center items-center h-screen space-y-4 md:space-y-0 md:space-x-12">
    <a routerLink="/rankingFruta" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full">
        <img src="/assets/fruta_ranking.png" alt="fruta_ranking" class="w-full h-auto max-w-xs mx-auto mb-4 md:mb-0 md:max-w-md">
    </a>
    <a routerLink="/rankingReciclaje" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full">
        <img src="/assets/reciclaje_ranking.png" alt="reciclaje_ranking" class="w-full h-auto max-w-xs mx-auto mb-4 md:mb-0 md:max-w-md">
    </a>
</div>
