<footer class="bg-white rounded-lg shadow-2xl shadow-gray-600 m-4 ">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{year}} All rights reserved by <span
                class="underline">Fuensanterinos</span>.
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0">
            <li>
                <p class="me-4 md:me-6"> Realizado por:</p>
            </li>


            <li>
                <a href="https://www.linkedin.com/in/alarbon/" target="_blank"
                    class="hover:underline me-4 md:me-6">Adrián Lara Bonilla</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/rzucar/" target="_blank" class="hover:underline">Raúl Zúcar Aceituno</a>
            </li>
        </ul>
    </div>
</footer>